$color-primary: #137AAB;
$color-secondary: #28B797;
$color-body-background:#ECF1F3;
$color-gray:#707070;
$font-family: "din-2014", sans-serif;
$font-bold-wight:600; 
$color-body-text: $color-gray;
$color-boxed-card-title: $color-secondary;
$color-border-top-card-title: $color-primary;
$color-link: $color-primary;

