$color-primary: #137AAB;
$color-secondary: #28B797;
$color-body-background:#ECF1F3;
$color-gray:#707070;
$color-body-text: $color-gray;
$color-boxed-card-title: $color-secondary;
$color-border-top-card-title: $color-primary;
$color-link: $color-primary;
$header-icon-color:#c5c6cb;
$header-icon-hover-color:darken($header-icon-color,50%);
//font
$font-family: "din-2014", sans-serif;
$font-bold-wight:600; 

// border-radius

$brand-border-radius-base:        5px !default;
$brand-border-radius-large:       10px !default;
$brand-border-radius-small:       3px !default;


// spacing
$spacer:                     1px;
$spacer-x:                   $spacer;
$spacer-y:                   $spacer;
$spacers: (
  0: (
    x:   0,
    y:   0
  ),
  h: (
    x:   ($spacer-x * 0.5),
    y:   ($spacer-y * 0.5)
  ),
  1: (
    x:   $spacer-x,
    y:   $spacer-y
  ),
  2: (
    x:   ($spacer-x * 1.5),
    y:   ($spacer-y * 1.5)
  ),
  3: (
    x:   ($spacer-x * 3),
    y:   ($spacer-y * 3)
  ),
  4: (
    x:   ($spacer-x * 4),
    y:   ($spacer-y * 4)
  )
  ,
  5: (
    x:   ($spacer-x * 5),
    y:   ($spacer-y * 5)
  )
  ,
  6: (
    x:   ($spacer-x * 6),
    y:   ($spacer-y * 6)
  )
  ,
  7: (
    x:   ($spacer-x * 7),
    y:   ($spacer-y * 7)
  )
  ,
  8: (
    x:   ($spacer-x * 8),
    y:   ($spacer-y * 8)
  )
  ,
  9: (
    x:   ($spacer-x * 9),
    y:   ($spacer-y * 9)
  )
  ,
  10: (
    x:   ($spacer-x * 10),
    y:   ($spacer-y * 10)
  )
);


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.

// Extra small screen / phone
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px !default;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs !default;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min !default;

// Small screen / tablet
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  768px !default;
$screen-sm-min:              $screen-sm !default;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min !default;

// Medium screen / desktop
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  992px !default;
$screen-md-min:              $screen-md !default;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min !default;

// Large screen / wide desktop
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1200px !default;
$screen-lg-min:              $screen-lg !default;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1) !default;
$screen-sm-max:              ($screen-md-min - 1) !default;
$screen-md-max:              ($screen-lg-min - 1) !default;
//logo
$sidebar-width:240px;
$logo-width:$sidebar-width;
$logo-width-mini:38px;

//TRANSITIONS SETTINGS
//--------------------------------------------------------

//Transition global options
$transition-speed: .3s;
$transition-fn: ease-in-out;
//cubic-bezier(0.32,1.25,0.375,1.15);

//LAYOUT
//--------------------------------------------------------

//Side bar and logo width

//Boxed layout maximum width
$boxed-layout-max-width: 1024px;
//When the logo should go to the top of the screen
$screen-header-collapse: $screen-xs-max;

//sidebar 
$sidebar-menu-header-color:#fff;