.header-wrapper {
    background-color: white;
    box-shadow: 0 -2px 30px rgba($color-primary, 0.21);
    position: sticky;
}

.logo {
  padding: 10px 22px;
  height: 61px;
    border-right: 0.5px solid #ccc;
    span.logo-mini {
        display: none;
       img{
        height: 42px;
        max-width: $logo-width-mini;
        width: 100%;
       }
    }
  
    span.logo-lg {
      img{
        height: 42px;
        max-width: $logo-width;
        width: 100%;
      }
       
        
        display: block;

    }
}

.menu-toggle {
  padding: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 0;
}

.logo-container {
    max-width: 256px;
}
.main-search{
  margin: 12px;
}



.user-profile {
    min-width: 200px;
    border-left: solid 0.5px #ccc;

    .btn-group {
        width: 100%;

        .user-profile__img {
            padding: 5px;
        }

        .user-profile__details__role {
            font-size: 11px;
        }

        .user-profile__details__name {
            font-size: 15px;
        }


    }


}

.main-search {
    .main-search__input {
        height: 37px;
    }

    .main-search__button {
        right: 5px;
        top: 5px;
        border: 0;
    }
}

.notification-icons {
    padding: 0 16px;

    a {
        display: inline-block;
        padding: 13px 6px;
        position: relative;
span.badge{
    width: 23px;
    height: 23px;
    line-height: 17px;
    right: -3px;
    top: 7px;
    border: 2px solid #FFE;
    font-size: 11px;
    border-radius: 50%;
    font-weight: 400;
   background-color: $color-primary;
}
        svg {
            height: 30px;

            path {
                fill: $header-icon-color;
            }
        }

        &:hover {
            path {
                fill: darken($header-icon-color, 10%);
            }
        }
    }
}



