.header-wrapper {
    background-color: white;
    box-shadow: 0 -2px 30px rgba($color-primary, 0.21);
    position: sticky;
  	z-index:2;
}

.logo {
  @include transition(width $transition-speed $transition-fn);
  padding: 10px 0;
  height: 61px;
 width: $logo-width;
    border-right: 0.5px solid #ccc;
    span.logo-mini {
        display: none;
       img{
        height: 42px;
        max-width: $logo-width-mini;
        width: 100%;
       }
    }
  
    span.logo-lg {
      img{
        height: 42px;
        max-width: $logo-width;
        width: 100%;
      }
       
        
        display: block;

    }
}

.menu-toggle {
  padding: 20px;
    border: 0;
    cursor: pointer;
    border-radius: 0;
}

.logo-container {
    max-width: 256px;
}



.user-profile {
    min-width: 200px;
    border-left: solid 0.5px #ccc;

    .btn-group {
        width: 100%;

        .user-profile__img {
            padding: 5px;
        }

        .user-profile__details__role {
            font-size: 11px;
        }

        .user-profile__details__name {
            font-size: 15px;
        }


    }


}

.main-search {
    margin-left: 73px;
  position:relative;
    .main-search__input {
        height: 37px;
    }

    .main-search__button {
        right: 5px;
        top: 5px;
        border: 0;
      padding:3px 5px;
      position:absolute;
    }
}

.notification-icons {
    padding: 0 16px;

    a {
        display: inline-block;
          padding: 17px 6px;
        position: relative;
        
        text-decoration: none;
        span.badge{
            width: 23px;
            height: 23px;
            line-height: 17px;
            right: -3px;
            top: 7px;
            border: 2px solid #FFE;
            font-size: 11px;
            border-radius: 50%;
            font-weight: 400;
        background-color: $color-primary;
              position: absolute;
    text-align: center;
    padding: 2px;
        }
        i {
          font-size: 25px;
          &:before{
            color: $header-icon-color;
          }
        }
        
          &:hover {
            i {
         &:before{
            color: darken($header-icon-color, 10%);
        }
    }
          }
        
    }   
}

/*
 * Component: Main Header
 * ----------------------
 */

 .main-header {
    position: relative;
    z-index: 1030;
    //Navbar
    > .navbar {
      @include transition(margin-left $transition-speed $transition-fn);
      margin-bottom: 0;
      margin-left: $sidebar-width;
      border: none;
      min-height: $navbar-height;
      border-radius: 0;
      .layout-top-nav & {
        margin-left: 0;
      }
    }

    
  
    
  }

 
  //Control navbar scaffolding on x-small screens
  @media (max-width: $screen-sm-max) {
    .navbar-custom-menu .navbar-nav > li {
      float: left;
    }
  
    //Dont't let links get full width
    .navbar-custom-menu .navbar-nav {
      margin: 0;
      float: left;
    }
  
    .navbar-custom-menu .navbar-nav > li > a {
      padding-top: 15px;
      padding-bottom: 15px;
      line-height: 20px;
    }
  }
  
  // Collapse header
  @media (max-width: $screen-header-collapse) {
    .main-header {
      position: relative;
      .logo,
      .navbar {
        width: 100%;
        float: none;
      }
      .navbar {
        margin: 0;
      }
      .navbar-custom-menu {
        float: right;
      }
    }
  }
  
  .navbar-collapse.pull-left {
    @media (max-width: $screen-sm-max) {
      float: none !important;
      + .navbar-custom-menu {
        display: block;
        position: absolute;
        top: 0;
        right: 40px;
      }
    }
  }
  


