$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../../fonts/icons/" !default;

$icon-turn-left-1: "\e94e";
$icon-upload1: "\e94f";
$icon-resize: "\e950";
$icon-transfer-1: "\e951";
$icon-transfer: "\e952";
$icon-up-arrow-2: "\e953";
$icon-up-arrow-1: "\e954";
$icon-up-arrow: "\e955";
$icon-left-arrow-3: "\e956";
$icon-diagonal-arrow-9: "\e957";
$icon-diagonal-arrow-8: "\e958";
$icon-diagonal-arrow-7: "\e959";
$icon-diagonal-arrow-6: "\e95a";
$icon-diagonal-arrow-5: "\e95b";
$icon-shuffle: "\e95c";
$icon-rotate: "\e95d";
$icon-right-arrow-2: "\e95e";
$icon-right-arrow-1: "\e95f";
$icon-right-arrow: "\e960";
$icon-repeat: "\e961";
$icon-refresh1: "\e962";
$icon-expand-1: "\e963";
$icon-move-1: "\e964";
$icon-double-arrow: "\e965";
$icon-left-arrow-2: "\e966";
$icon-left-arrow-1: "\e967";
$icon-left-arrow: "\e968";
$icon-minimize-1: "\e969";
$icon-minimize1: "\e96a";
$icon-insert: "\e96b";
$icon-extract: "\e96c";
$icon-down-arrow-5: "\e96d";
$icon-down-arrow-4: "\e96e";
$icon-down-arrow-3: "\e96f";
$icon-down-arrow-2: "\e970";
$icon-down-arrow-1: "\e971";
$icon-down-arrow: "\e972";
$icon-delete: "\e973";
$icon-confirm-1: "\e974";
$icon-confirm: "\e975";
$icon-cancel-1: "\e976";
$icon-cancel: "\e977";
$icon-diagonal-arrow-4: "\e978";
$icon-diagonal-arrow-3: "\e979";
$icon-diagonal-arrow-2: "\e97a";
$icon-diagonal-arrow-1: "\e97b";
$icon-diagonal-arrow: "\e97c";
$icon-turn-left: "\e97d";
$icon-expand: "\e97e";
$icon-move: "\e97f";
$icon-add1: "\e980";
$icon-add: "\e900";
$icon-add-1: "\e901";
$icon-bookmark: "\e902";
$icon-broken-link: "\e903";
$icon-browser: "\e904";
$icon-browser-1: "\e905";
$icon-browser-2: "\e906";
$icon-bug: "\e907";
$icon-close: "\e908";
$icon-coding: "\e909";
$icon-computer: "\e90a";
$icon-copy: "\e90b";
$icon-cursor: "\e90c";
$icon-cut: "\e90d";
$icon-denied: "\e90e";
$icon-display: "\e90f";
$icon-download: "\e910";
$icon-favorite: "\e911";
$icon-full-screen: "\e912";
$icon-help: "\e913";
$icon-history: "\e914";
$icon-hold: "\e915";
$icon-house: "\e916";
$icon-icognito: "\e917";
$icon-image: "\e918";
$icon-information: "\e919";
$icon-link: "\e91a";
$icon-list: "\e91b";
$icon-list-1: "\e91c";
$icon-login: "\e91d";
$icon-logout: "\e91e";
$icon-mail: "\e91f";
$icon-menu: "\e920";
$icon-microphone: "\e921";
$icon-minimize: "\e922";
$icon-more: "\e923";
$icon-next: "\e924";
$icon-next-1: "\e925";
$icon-original-size: "\e926";
$icon-padlock: "\e927";
$icon-paste: "\e928";
$icon-power-off: "\e929";
$icon-previous: "\e92a";
$icon-print: "\e92b";
$icon-push-pin: "\e92c";
$icon-puzzle: "\e92d";
$icon-refresh: "\e92e";
$icon-register: "\e92f";
$icon-reload: "\e930";
$icon-restore: "\e931";
$icon-save: "\e932";
$icon-scroll: "\e933";
$icon-scroll-1: "\e934";
$icon-scroll-2: "\e935";
$icon-scroll-3: "\e936";
$icon-scroll-4: "\e937";
$icon-scroll-5: "\e938";
$icon-search: "\e939";
$icon-search-1: "\e93a";
$icon-settings: "\e93b";
$icon-settings-1: "\e93c";
$icon-share: "\e93d";
$icon-shield: "\e93e";
$icon-text-field: "\e93f";
$icon-upload: "\e940";
$icon-waiting: "\e941";
$icon-world-wide-web: "\e942";
$icon-wrench: "\e943";
$icon-zoom-in: "\e944";
$icon-zoom-out: "\e945";
$icon-Notification: "\e946";
$icon-approvals-icon: "\e947";
$icon-cart: "\e948";
$icon-customer-support: "\e949";
$icon-FAQ-icon: "\e94a";
$icon-Home-icon: "\e94b";
$icon-listCollapsed-icon: "\e94c";
$icon-services-icon: "\e94d";

